body {
    font-family: Arial;
    background: #0b0b0b;
    color: gold;
    text-align: center;
}

input, select {
    padding: 10px;
    margin: 5px;
    border-radius: 8px;
}

button {
    padding: 10px 20px;
    margin: 5px;
    background: gold;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

hr {
    margin: 20px;
}
